body{
    background: -webkit-linear-gradient(left, #E26C7A, #AA72E3);
}
h4 {
    text-align: center;
    color: #0062cc;
}

.col-md-4 {
    margin: auto;
}

.contact-form{
    background: #F3F3F3;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 3rem;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    /*transform: rotate(29deg);*/
}
.contact-form form{
    padding: 10%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 5%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1em;
    padding: 1.5%;
    background: #BD323F;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: auto;
}
